img {
  width: 350px;
  margin-bottom: 15px;
}

.description {
  width: 350px;
  display: flex;
  justify-content: space-between;
  margin-left: 25px;
}

.title {
  font-size: 18px;
  margin-bottom: 10px;
}

.year {
  padding: 7px;
  border: 1px solid #fff;
  border-radius: 3px;
  background-color: #232323;
  color: #fff;
}

.movieItem-container {
  margin-bottom: 20px;
}

.fa-ellipsis-v {
  position: relative;
  background-color: #232323;
  border-radius: 50%;
  color: #fff;
  top: -500px;
  left: 330px;
  z-index: 0.5;
  padding: 5px 10px;
}

.fa-ellipsis-v:hover {
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  left: 250px;
  background-color: #232323;
  width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdownItem {
  padding: 5px;
}

.dropdownItem:hover {
  cursor: pointer;
  background-color: #f65261;
}

.show {
  display: block;
}

.dropdownClose {
  color: #fff;
  margin-left: 80px;
  margin-top: 5px;
  cursor: pointer;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

.closeModal {
  color: #fff;
  margin-left: 570px;
  font-size: 28px;
  cursor: pointer;
}
