img {
  width: 350px;
  margin-bottom: 15px;
}

.description {
  width: 350px;
  display: flex;
  justify-content: space-between;
}

.title {
  font-size: 18px;
  margin-bottom: 10px;
}

.year {
  padding: 7px;
  border: 1px solid #fff;
  border-radius: 3px;
  background-color: #232323;
  color: #fff;
}

.movieItem-container {
  margin-bottom: 20px;
}
